$sidebar-active-size: 180px;

.sidebar {
  width: 60px;
  background-color: #17141f;
  height: 100vh;
  z-index: 500;
  position: fixed;
  //@include transition(width 0.1s ease-out);
  &.active {
    width: $sidebar-active-size;
    //@include transition(width 0.1s ease-out);
  }
}

.expand {
  padding: 5px 5px 0px 5px;
  @include transform(rotate(90deg));
  float: left;
  margin-top: 10px;
  margin-left: 60px;
  fill: #e4e2e9;
  position: relative;
  cursor: pointer;
  //@include transition(margin-left 0.1s ease-out);
  .sidebar.active & {
    margin-left: 180px;
    @include transform(rotate(270deg));
    //@include transition(margin-left 0.1s ease-out);
  }
  &:hover {
    background-color: #f2f1f4;
  }
}

.logo {
  margin-top: 15px;
  margin-left: 15px;
  padding-bottom: 45px;
  width: 30px;
  height: 30px;
  fill: #e5e3e8;
  position: absolute;
  border-bottom: 1px solid #575062;
  //@include transition(width 0.1s ease-out);
  .sidebar.active & {
    width: 150px;
    //@include transition(width 0.1s ease-out);
  }
}

.icon-bar {
  padding-top: 75px;
  width: 100%;
  .button {
    cursor: pointer;
    height: 40px;
    outline: none;
    padding-left: 19px;
    position: relative;
    border: none;
    background: none;
    width: 100%;
    &:nth-child(1) .icon-text {
      padding-top: 3px;
    }
    &:nth-child(2) .icon-text {
      padding-top: 1px;
    }
    &:nth-child(3) .icon-text {
      padding-top: 1px;
    }
    &:nth-child(4) .icon-text {
      padding-top: 6px;
    }
    .icon-text {
      //padding-top: 3px;
      margin-left: 0;
      font-size: 14px;
      position: absolute;
      visibility: hidden;
      color: white;


      .sidebar.active & {
        position: absolute;
        padding-left: 30px;
        float: left;
        visibility: visible;
        display: block;
        //@include transition(visibility 0.1s ease-in 0.2s);
      }

    }
    .icon {
      float: left;
    }
    .heart {
      margin-left: -2px;
    }
    &:hover {
      background-color: #2e283e;
    }
  }
}


.disclaimer-container {
  border-top: 1px solid #575062;
  position: absolute;
  height: 130px;
  display: block;
  bottom: 0;
  width: 100%;
  background-color: #2e283e;
  .disclaimer {
    visibility: hidden;
    padding: 10px;
    .sidebar.active & {
      color: #e5e3e8;
      font-size: 14px;
      visibility: visible;
      //@include transition(visibility 0.1s ease-in 0.2s);
    }
  }
}



